include *.rst
include LICENSE
recursive-include src *.svg
recursive-include src *.jinja
recursive-include src *.css
recursive-include src *.js
prune tests*
exclude gulpfile.js
exclude package-lock.json
exclude package.json
exclude webpack.config.js
prune js*
prune scss*
prune integration-tests*
