include *.rst
include LICENSE
include setup.cfg
recursive-include lander/templates *
recursive-include lander/assets *
package.json
gulpfile.babel.js

include versioneer.py
include lander/_version.py
