<header class="lander-info-header">
  <img class="lander-info-header__logo" src="assets/lsst_underline_logo.svg" alt="Large Synoptic Survey Telescope">
  {% if config['doc_handle'] %}
  <span class="lander-info-header__handle">{{ config['doc_handle'] }} &hairsp;&middot;&hairsp; {{ config['series_name']|upper }}</span>
  {% endif %}
  <h1 class="lander-info-header__product-name">{{ config['title'] }}</h1>
</header>

{% if config['authors'] %}
<section class="lander-info-authors">
  <ul class='comma-list'>
  {% for author_name in config['authors'] %}
    <li>{{ author_name }}</li>
  {% endfor %}
  </ul>
</section>
{% endif %}

{% if config['abstract'] %}
<section class="lander-info-abstract">
  <p class="lander-abstract">{{ config['abstract'] }}</p>
</section>
{% endif %}
