<header class="lander-info-header">
  <img class="lander-info-header__logo" src="assets/lsst_underline_logo.svg" alt="Large Synoptic Survey Telescope">
  {% if config['doc_handle'] %}
  <span class="lander-info-header__handle">{{ config['doc_handle'] }} &hairsp;&middot;&hairsp; {{ config['series_name']|upper }}</span>
  {% endif %}
  <h1 class="lander-info-header__product-name">{{ config['title'] }}</h1>

  {% if config['git_tag'] %}
  <a class="hidden-link" href="https://github.com/{{ github_slug }}/tree/{{ config['git_tag'] }}">
    <span class="svg-icon svg-icon--left svg-baseline">
      <svg><use xlink:href="#octicon-tag" /></svg>
    </span>
    {{ config['git_tag'] }}
  </a>
  {% elif config['git_branch'] %}
  <a class="hidden-link" href="https://github.com/{{ github_slug }}/tree/{{ config['git_branch'] }}">
    <span class="svg-icon svg-icon--left svg-baseline">
      <svg><use xlink:href="#octicon-git-branch" /></svg>
    </span>
    {{ config['git_branch'] }}
  </a>
  {% endif %}
</header>

{% if config['authors'] %}
<section class="lander-info-authors">
  <ul class='comma-list'>
  {% for author_name in config['authors'] %}
    <li>{{ author_name }}</li>
  {% endfor %}
  </ul>
</section>
{% endif %}

{% if config['abstract'] %}
<section class="lander-info-abstract">
  <p class="lander-abstract">{{ config['abstract'] }}</p>
</section>
{% endif %}
