{% extends "base.jinja" %}

{% block page_title %}{{ config['title'] }}{% endblock page_title %}
{% block page_description %}{{ config['abstract'] }}{% endblock page_description %}
{% block body %}

<div class="lander-container">
  <a href="{{ config['relative_pdf_path'] }}">PDF</a>
</div>
{% endblock body %}
