{% extends "base.jinja" %}

{% block body %}

<div class="lander-content-container">

  <div class="lander-info-item">
    {% include "_info-panel.jinja" %}
  </div>

  <div class="lander-pdf-item">
    <div id="pdf-container">
    </div>
  </div>
</div>

{% endblock body %}
