{% extends "base.jinja" %}

{% block page_title %}{{ config['title'] }}{% endblock page_title %}
{% block page_description %}{{ config['abstract'] }}{% endblock page_description %}
{% block body %}

<div class="lander-container">
  <canvas id="pdf-canvas"></canvas>
</div>
{% endblock body %}
